/* start variables */
:root {
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
}
/* end variables */

/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Kumbh Sans', sans-serif;
}

/* Small */
/* @media (min-width: 768px) {
  .container {
    width: 750px;
  }
} */
/* Medium */
/* @media (min-width: 992px) {
  .container {
    width: 970px;
  }
} */
/* Large */
/* @media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
} */
html {
    scroll-behavior: smooth;
}
.container {
  margin-left: auto;
  margin-right: auto;
}
.gridy {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  padding: 25px;
  grid-gap: 20px;
}
  /* End Global Rules */
.card {
  background-color: var(--Dark-cyan);
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.card > img {
  position: absolute;
}
.card > img:first-child {
  top: -77%;
  left: -27%; 
  max-width: 100%;

}
.card > img:nth-child(2) {
  bottom: -110%;
  right: -15%;
  max-width: 100%;
}
@media (max-width:786px ) {
  .card > img:first-child {
    top: -30%;
    left: -43%;
}
.card > img:nth-child(2) {
  bottom: -21%;
  right: -45%;
}
}


@media (max-width:375px ) {
  .card > img:first-child {
    top: -15%;
    left: -55%;
}
.card > img:nth-child(2) {
  bottom: -11%;
  right: -49%;
}
}

.card .container {
  width: 350px;
  border-radius: 15px;
  background-color: white;
  position: relative;
}
.card .container .header .cover img {
  width: 100%;
  border-radius:15px 15px 0 0;
}
.card .container .header {
}
.card .container .header .vector {
  position: relative;
  margin-bottom: 70px;
}
.card .container .header .vector img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  border-radius: 50%;
  border: 4px solid white;
}
.card .container .details {
  text-align: center;
  border-bottom: 1px solid hsl(0deg 0% 92%);
  padding-bottom: 30px;
}
.card .container .details .name {
  font-weight: 700;
  font-size: 18px;
  color: var(--Very-dark-desaturated-blue);
}
.card .container .details .name span {
  font-weight: 400;
  font-size: 18px;
  color: var(--Dark-grayish-blue);
}
.card .container .details .location {
  color: var(--Dark-grayish-blue);
  font-size: 15px;
  font-weight: 400;
  margin-top: 5px;
}
.card .container .numbers {
  display: flex;
  justify-content: space-between;
  padding: 25px 35px;
  text-align: center;
}
.card .container .numbers .num {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
}
.card .container .numbers .tag {
  color: var(--Dark-grayish-blue);
  font-weight: 400;
  font-size: 12px;
}
